$ cat .gitattributes
static/css/bootstrap-switch.css linguist-vendored
static/css/bootstrap-theme.css linguist-vendored
static/css/bootstrap-theme.min.css linguist-vendored
static/css/bootstrap.css linguist-vendored
static/css/bootstrap.min.css linguist-vendored
static/css/weather-icons-wind.css linguist-vendored
static/css/weather-icons-wind.min.css linguist-vendored
static/css/weather-icons.css linguist-vendored
static/css/weather-icons.min.csss linguist-vendored
static/fonts/* linguist-vendored
static/js/bootstrap-switch.js linguist-vendored
static/js/bootstrap.js linguist-vendored
static/js/bootstrap.min.js linguist-vendored
static/js/jquery.js linguist-vendored
static/js/moment.js linguist-vendored
